@import url('./comp/colors.css');
@import url('./comp/variables.css');
@import url('./comp/base.css');
@import url('./comp/treemap.css');
@import url('./comp/map.css');

/* Body and HTML */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-attachment: fixed;
    background-position: 0px;
    background-repeat: no-repeat;
    background: #203A43;
}


/* Header */

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: safe;
    height: 2rem;
    position: relative;
    top: 0;
    left: 2rem;
    margin-left: 1rem;
    padding-left: 2rem;
    width: 95%;
    height: 2.8rem;
    border-bottom-color: #2C5364;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

h1.app-title {
    color: var(--white-color);
    font-size: 1.2rem;
    font-variant: small-caps;
}

.header-menu {
    position: relative;
    top: -20px;
    list-style-type: none;
    margin: 1rem;
    padding: 0.4rem;
    display: flex;
    justify-items: space-around;
    height: 100%;
    background: #ffffff33;
}

.header-team {
    list-style: none;
    width: 2rem;
    height: auto;
    margin: 6px;
    padding: 2px;
    align-self: center;
    cursor: pointer;
    color: #ffffff;
}

.header-team img {
    filter: grayscale(200%) contrast(150%) opacity(40%);
    transform: scale(0.6);
    transition: all 1 ease-in-out;
}

.header-team:hover {
    color: #cccccc;
}

.header-team:hover img {
    filter: grayscale(0%) contrast(100%) opacity(100%);
    transform: scale(1);
    transition: all 1 ease-in-out;
}


/* Left Sidebar */

.left-sidebar {
    background-color: rgb(35, 36, 36);
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 100%;
}

.left-sidebar-container {
    max-height: 4rem;
}

.left-sidebar-icon {
    position: relative;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
}

#left-epllogo {
    margin-bottom: 1rem;
}

#left-epllogo img {
    filter: invert(80%) grayscale(200%) contrast(200%) opacity(100%);
    transform: scale(1);
}

.left-sidebar-icon span,
.left-sidebar-icon i,
.left-sidebar-icon svg {
    pointer-events: none;
}

.left-sidebar-icon:hover,
.hover {
    background: #01768a;
    color: var(--dark-color);
}

.active-feature {
    color: #B3F52F;
    transition: all 0.33s linear ease-in;
}

.searchbar {
    z-index: 6;
    position: relative;
    top: -4rem;
    left: 5rem;
    padding: 0.2rem 0;
    width: 275px;
    height: 4rem;
    background: #01768a;
}

.searchbar:before {
    content: "\A";
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    left: -10px;
    top: 6px;
    margin: 1rem 0;
}

.inputsearch {
    padding: 0.4rem;
    width: 95%;
    margin: 0.5rem 1rem;
    background: #ffffff;
    border-bottom-color: #01768a;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    display: inline-block;
    top: 0;
    left: -1rem;
}

.searchbar-btn-ic {
    color: rgb(132, 192, 255);
    position: relative;
    display: inline-block;
    top: -74%;
    left: 80%;
    z-index: 4;
    width: 30px;
    height: 30px;
    line-height: 1rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    border-left-color: #01768a;
    border-left-style: solid;
    border-left-width: 1px;
    background-color: white;
}

.icon-left-title {
    position: relative;
    font-size: 0.9rem;
    text-align: center;
    top: -8px;
}

#enable-map-btn svg {
    position: relative;
    margin: 0.1rem 1rem 0.3rem 1rem;
}


/* Top Tweets component */

.top-tweets-component {
    position: relative;
    top: 6rem;
    left: 70%;
    width: 28%;
    min-width: 20%;
    max-height: 500px;
    height: 100%;
    background-color: #FFFFFF44;
    color: white;
    overflow-y: scroll;
}

.tweets-tabs {
    position: fixed;
    z-index: 10;
    width: 385px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: #ffffff;
}

.all-tweets {
    margin-top: 50px;
}

.tab {
    position: relative;
    padding: 4px;
    margin: 2px;
    width: 50%;
    cursor: pointer;
    background-color: transparent;
}

.tab:hover,
.active-tab {
    background-color: #07a3beb2;
    transition: all 0.3 ease-in;
}

.tab h6 {
    color: #01768a;
    font-weight: 300;
}

.tab:hover h6,
.active-tab h6 {
    color: #ffffff;
    font-weight: 500;
}

.top-tweets-container {
    border-bottom-color: #203A43;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0.2rem 1.2rem;
    margin: 0.9rem;
}

.icon-tweet-username,
.icon-tweet-location,
.icon-tweet-count,
.icon-tweet-likes {
    margin: 2px 10px 2px 4px;
}

.meta-icon {
    color: #B3F52F;
    margin: 0 2px 0 0;
}

.tweet-text {
    text-align: left;
    font-size: 0.8rem;
}

.tweet-meta {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin: 2px 0 0 0;
    font-size: 0.9rem;
}


/* CONTAINER */

#_viscontainer {
    position: relative;
    top: 1rem;
    left: -2rem;
}