@import url('./comp/theme.css');
@import url('./comp/variables.css');
@import url('./comp/base.css');
.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 0;
}

.searchcard {
    /* max-width: 280px; */
    max-height: 150px;
    margin: 0.2rem;
    padding: 0.2rem;
    text-align: center;
}

.searchcard .card-title {
    font-size: 0.9rem;
}

.searchcard .carousel-item {
    font-size: 0.8rem;
}

header h1 {
    color: var(--light-color);
}

.map-component {
    display: flex;
    justify-content: center;
    position: relative;
}


/* .map-component iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 498px;
    height: 600px;
    border: none;
} */


/* 
path {
    stroke-width: 1px;
    stroke: white;
    fill: #999;
    cursor: pointer;
}

path.q0-5 {
    fill: #f0f9e8;
}

path.q1-5 {
    fill: #bae4bc;
}

path.q2-5 {
    fill: #7bccc4;
}

path.q3-5 {
    fill: #43a2ca;
}

path.q4-5 {
    fill: #0868ac;
}

div.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    display: none;
}

path {
    fill: fuchsia !important;
} */